@use '../sass/global.scss';

.cartOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end; 
    z-index: 1000;
}

.cartContainer {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: global.$ash-color;
    z-index: 1;
    height: 100vh;
    max-width: 375px;
    overflow-y: auto;

    hr {
        margin: 1rem 0;
        color: global.$ash-color;
    }

    .orderContainer {
        display: flex;
        flex-direction: column;
        height: 90vh;
        margin: 1.1rem 1.1rem 0 1.1rem;
        color: global.$prime-color;
        border-radius: .5rem;
        box-sizing: border-box;
        color: global.$dark-grey;
        padding: 1rem 0;
        flex-grow: 1; 
            
        .menuItemsWrapper {
            flex-grow: 1; 
            list-style: none;
            padding: 0;
            margin: 0;

            .menuItemRow {
                color: global.$dark-grey;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin-bottom: 1rem;

                h5 {
                    margin: 0;
                    font-size: 1rem;
                }

                .priceAndControls {
                    display: flex;
                    align-items: center; 
                    gap: 10px;

                    .quantityControls {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 ;

                        button {
                            border: 1px solid global.$secondary-color;
                            width: 25px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            // font-size: 1rem;
                            border-radius: 50%;
                            margin-bottom: 0;
                            padding-bottom: 2px;
                            
                        }

                        span {
                            margin: 0 0.5rem;
                            font-weight: bold;
                        }
                    }

                    .price {
                        font-weight: bold;
                        white-space: nowrap;
                        width: 70px; 
                        padding-right: 0;
                        text-align: right;
                    }
                }

                .divider {
                flex-grow: 1;
                border-bottom: 2px dotted global.$dark-grey;
                margin: 1rem 5px 0;
                }
            }

            .menuItemRow h5:first-child::after {
                content: '';
                flex-grow: 1;
                border-bottom: 1px dotted global.$dark-grey;
            }

            .menuItemRow h5:second-child {
                border-bottom: 2px dotted global.$dark-grey;
                padding-right: 10px;
            }
        }

        .emptyCartMessage {
            text-align: center;
            padding: 2rem;
            color: global.$secondary-color;
        }

        .totalLine {
            background-color: global.$light-grey;
            color: global.$dark-grey;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: .2rem;
        }

        .payBtn {
            width: 100%;
            background-color: global.$dark-grey;
            color: global.$snow-color;
            padding: 1.5rem;
            border-radius: .2rem;
            border: none;
            box-shadow: none;
            margin-bottom: 0;

            &:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }
    }
}