@use '../sass/global.scss';

.appContainer {
    background-color: global.$secondary-color;
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box; 
    position: relative;
    display: flex;
    flex-direction: column;

    .receiptContainer {
        color: global.$snow-color;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
        margin-bottom: 120px; 
        
        .receiptSection {
            background-color: global.$ash-color;
            width: 100%;
            border-radius: .2rem;
            display: flex; 
            flex-direction: column;
            flex-grow: 1; 
            overflow: auto;

            .box {
                width: 100%;
                text-align: center;
                flex-shrink: 0;
    
                img {
                    width: 15%;
                    margin-top: 1.5rem;
                    display: inline-block;
                }
            }
    
            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                height: 100%;
    
                hgroup {
                    h3, p {
                        padding-bottom: .5rem;
                        color: global.$dark-grey;
                        text-align: center;
                    }
                    flex-shrink: 0;
                }
                
                .menuItemsWrapper {
                    margin: 0 1rem;
                    padding: 0 1rem;
                    flex-grow: 1;
                    overflow-y: auto;
                    width: 100%;
            
                    .menuItemRow {
                        padding: .5rem 0;
                        color: global.$dark-grey;
                        display: flex;
                        justify-content: space-between;
                        hgroup {
                            pre {
                                text-align: left;
                            }
                        }
                    }
        
                    .menuItemRow h5:first-child::after {
                        content: '';
                        flex-grow: 1;
                        border-bottom: 1px dotted global.$dark-grey;
                    }
        
                    .menuItemRow h5:second-child {
                        border-bottom: 2px dotted global.$dark-grey;
                        padding-right: 10px;
                    }
        
                    .divider {
                        flex-grow: 1;
                        border-bottom: 2px dotted global.$dark-grey;
                        margin: 0 10px 1rem 10px;
                    }
                }
        
                .totalLine {
                    margin-top: auto;
                    flex-shrink: 0;
                    color:  global.$dark-grey;
                    background-color: global.$light-grey;
                    width: 100%; 
                    display: flex; 
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    border-radius: .2rem;

                    .totalLineMoms {
                        text-align: left;
                    }
                }
            }
        }

        .buttons {
            position: fixed;
            bottom: 0; 
            left: 50%; 
            transform: translateX(-50%); 
            width: 375px; 
            max-width: 100%; 
            padding: 1rem; 
            box-sizing: border-box; 
            background-color: global.$secondary-color; 
            z-index: 10; 

            display: flex; 
            flex-direction: column;

            .orderBtn {
                width: 100%;
                background-color: global.$dark-grey;
                color: global.$snow-color;
                padding: 1.5rem;
                border-radius: .2rem;
                margin-bottom: 1rem;
                border: none;
                visibility: hidden;
            }

            .receiptBtn {
                width: 100%;
                background-color: transparent;
                color: global.$snow-color;
                padding: 1.5rem;
                border-radius: .2rem;
                border-color: global.$shade-color;
                margin-bottom: 0;
            }
        }
    }   
}

